/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}

section {
  margin: 2rem;
  max-width: 90vw;
}

a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(11) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* animatie 1 */

a:nth-of-type(1) {
  transform-style: preserve-3d;
  background-color: magenta;
}

/* animatie 2 */

a:nth-of-type(2) {
  background-color: hotpink;
}

a:nth-of-type(2):hover {
  transform: rotate(360deg);
  transition: 1s ease-out;
}

/* animatie 3 */

#and {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
  background-color: red;
  cursor: pointer;
}

#and:hover {
  color: var(--primary);
  border-color: var(--primary);
}


/* animatie 4 */

a:nth-of-type(3) {
  background-color: orange;
}



.turn {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  transition: 4s;
}


/* animatie 5 */

a:nth-of-type(4) {
  background-color: yellow;
}

.size {
  animation: sizechanger 4s;
}


@keyframes sizechanger {
  0% {
    transform: scale(100%);
  }

  25% {
    transform: scale(0%);
  }

  75% {
    transform: scale(1000%);
  }

  100% {
    transform: scale(100%);
  }
}


/* animatie 6 */

a:nth-of-type(5) {
  background-color: lime;
}


.rotateXY {
  animation: rotationer 5s;
}

@keyframes rotationer {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(14400deg);
  }
}


/* kleurbalk */

.sectioncolor {
  width: 100%;
  bottom: 0;
  height: 10rem;
}



.kleuren {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  width: 5rem;
  height: 5rem;
  border: none;
  cursor: pointer;
}

.white {
  background-color: white;
}

.hotpink {
  background-color: hotpink;
}

.magenta {
  background-color: magenta;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.lime {
  background-color: lime;
}

.green {
  background-color: green;
}

.turquoise {
  background-color: turquoise;
}

.cyan {
  background-color: cyan;
}

.blue {
  background-color: blue;
}

.darkblue {
  background-color: darkblue;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}


/* animatie 7 */

a:nth-of-type(6) {
  background-color: green;
}

.down {
  animation: down 10s;
}

@keyframes down {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(0.8, 1.5) translateY(0);
  }

  30% {
    transform: scale(1.5, 0.8) translateY(95vh);
  }

  50% {
    transform: scale(0.8, 1.5) translateY(- 10px);
  }

  57% {
    transform: scale(1, 1) translateY(10px);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}



/* animatie 8 */

a:nth-of-type(7) {
  background-color: turquoise;
}

/* animatie 9 */

a:nth-of-type(8) {
  background-color: cyan;
}

/* animatie 10*/

a:nth-of-type(9) {
  background-color: blue;
}

/* animatie 11*/

a:nth-of-type(10) {
  background-color: darkblue;
}

/* animatie 12*/

a:nth-of-type(11) {
  background-color: purple;
}

/* animatie 13*/

a:nth-of-type(12) {
  background-color: black;
}


video {
  display: none;
  width: 90%;
}

.play {
  display: block;
}

.none-display {
  display: none;
}